# Pandas Tutorial: Data Science Workshop, IIT Bhilai

**Presenter**: Dr. Gagan Raj Gupta, Associate Professor, IIT Bhilai  
**Date**: July 8, 2025  
**Venue**: IIT Bhilai, Chhattisgarh, India  
**Course**: DS250 - Data Analytics and Visualization

## Overview
This Jupyter Notebook provides a hands-on introduction to Pandas for beginner engineering Data Science students. Designed for the Data Science Workshop at IIT Bhilai, it covers essential Pandas concepts and techniques for data manipulation and analysis. Complete the exercises to reinforce your skills. The notebook is optimized for Google Colab, requiring minimal setup.

## Objectives
- Master Pandas basics: Series vs. DataFrame.
- Learn data I/O: CSV, Excel, JSON, SQL.
- Apply performance tips: dtype, usecols, chunksize.
- Handle missing data: drop vs. impute.
- Detect and manage outliers: IQR, Z-score.
- Perform type conversion and date handling.
- Build data pipelines with method chaining and `.pipe()`.
- Explore an open-source dataset (Titanic) in a hands-on section.

## Prerequisites
- **Environment**: Google Colab with Python 3.8+.
- **Libraries**: Install required libraries in Colab:
  ```bash
  !pip install pandas numpy scikit-learn openpyxl seaborn
  ```
- **Datasets**:
  - `iris.csv`: Modified Iris dataset with missing values and outliers (generate using provided script).
  - `iris.db`: SQLite database with Iris data (generate using provided script).
  - Titanic dataset: Loaded via `seaborn` for hands-on section.
- **Setup**:
  1. Run `create_iris_csv.py` and `create_iris_db.py` locally to generate `iris.csv` and `iris.db`, then upload to Colab.
  2. Alternatively, generate `iris.csv` in Colab with the code below:
  ```python
  import pandas as pd
  import numpy as np
  from sklearn.datasets import load_iris
  iris = load_iris()
  df = pd.DataFrame(iris.data, columns=iris.feature_names)
  df['species'] = [iris.target_names[i] for i in iris.target]
  np.random.seed(42)
  df.loc[np.random.choice(df.index, 5), 'sepal length (cm)'] = np.nan
  df.loc[np.random.choice(df.index, 5), 'petal width (cm)'] = np.nan
  df.loc[0, 'sepal width (cm)'] = 10.0
  df.loc[1, 'petal length (cm)'] = 15.0
  df.to_csv('iris.csv', index=False)
  ```
  3. The Titanic dataset is loaded directly via `seaborn.load_dataset('titanic')`.

In [ ]:
# Install libraries
!pip install pandas numpy scikit-learn openpyxl seaborn

# Generate iris.csv (optional, if not uploaded)
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = [iris.target_names[i] for i in iris.target]
np.random.seed(42)
df.loc[np.random.choice(df.index, 5), 'sepal length (cm)'] = np.nan
df.loc[np.random.choice(df.index, 5), 'petal width (cm)'] = np.nan
df.loc[0, 'sepal width (cm)'] = 10.0
df.loc[1, 'petal length (cm)'] = 15.0
df.to_csv('iris.csv', index=False)
print('iris.csv created:')
print(df.head())

# Verify imports
import sqlite3
import seaborn as sns
print(pd.__version__, np.__version__, sns.__version__)

## 1. Pandas Basics: Series vs. DataFrame
Pandas is a powerful library for data manipulation. Its core structures are:
- **Series**: A one-dimensional array with an index, like a column in a spreadsheet.
- **DataFrame**: A two-dimensional table with rows and columns, like a spreadsheet.

Series are used for single-column operations, while DataFrames handle tabular data.

In [ ]:
import pandas as pd

# Create a Series
series = pd.Series([5, 15, 25, 35], index=['p', 'q', 'r', 's'])
print('Series:')
print(series)
print('Value at r:', series['r'])
print('Add 10:', series + 10)

# Create a DataFrame
df = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Price': [1200, 800, 300],
    'Stock': [50, 100, 75]
})
print('\nDataFrame:')
print(df)
print('Price column (Series):', df['Price'])
print('Max Price:', df['Price'].max())

**Exercise**:
1. Create a Series with values [10, 20, 30, 40] and indices ['a', 'b', 'c', 'd']. Print the Series and access the value at index 'c'.
2. Create a DataFrame with columns 'Name' (['Alice', 'Bob', 'Charlie']), 'Age' ([25, 30, 35]), and 'City' (['Delhi', 'Mumbai', 'Bangalore']). Filter rows where Age > 28.

In [ ]:
# Your code here for Exercise 1.1 and 1.2
import pandas as pd

# Exercise 1.1: Series
# Your code here

# Exercise 1.2: DataFrame
# Your code here

## 2. Data I/O: CSV, Excel, JSON, SQL
Pandas supports reading and writing data in multiple formats:
- **CSV**: Comma-separated values, lightweight.
- **Excel**: Spreadsheet format, supports multiple sheets.
- **JSON**: Lightweight, used for APIs.
- **SQL**: Database integration for large datasets.

In [ ]:
import pandas as pd
import sqlite3

# Read CSV
df_iris = pd.read_csv('iris.csv')
print('Last 5 rows of iris.csv:')
print(df_iris.tail())
print('Column types:', df_iris.dtypes)
print('Row count:', len(df_iris))

# Write and read Excel
df_sample = pd.DataFrame({'EmployeeID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie'], 'Salary': [50000, 60000, 70000]})
df_sample.to_excel('output.xlsx', index=False)
print('\nExcel file created:')
print(pd.read_excel('output.xlsx'))

# Write and read JSON
df_sample.to_json('output.json', orient='records')
print('\nJSON file read:')
print(pd.read_json('output.json'))

# Read SQL
conn = sqlite3.connect('iris.db')
df_sql = pd.read_sql('SELECT * FROM iris WHERE "sepal length (cm)" > 5', conn)
print('\nSQL query result:')
print(df_sql.head())
conn.close()

**Exercise**:
1. Load `iris.csv` and save the first 10 rows to `iris_subset.csv`.
2. Create a DataFrame with 3 rows and columns ['ID', 'Product', 'Price']. Save it as `products.xlsx` and `products.json`.
3. Query `iris.db` to select rows where `petal length (cm)` > 4 and print the result.

In [ ]:
# Your code here for Exercise 2.1, 2.2, and 2.3
import pandas as pd
import sqlite3

# Exercise 2.1: CSV
# Your code here

# Exercise 2.2: Excel and JSON
# Your code here

# Exercise 2.3: SQL
# Your code here

## 3. Performance Tips: dtype, usecols, chunksize
Optimizing Pandas performance is crucial for large datasets:
- **dtype**: Specify column data types to reduce memory usage.
- **usecols**: Load only necessary columns.
- **chunksize**: Process large files in chunks to manage memory.

In [ ]:
import pandas as pd

# Specify dtypes
dtypes = {'sepal length (cm)': 'float32', 'sepal width (cm)': 'float32', 'petal length (cm)': 'float32', 'petal width (cm)': 'float32', 'species': 'category'}
df = pd.read_csv('iris.csv')
df_opt = pd.read_csv('iris.csv', dtype=dtypes)
print('Memory usage (default):', df.memory_usage().sum())
print('Memory usage (optimized):', df_opt.memory_usage().sum())

# Use usecols
df_cols = pd.read_csv('iris.csv', usecols=['sepal length (cm)', 'species'])
print('\nSelected columns:')
print(df_cols.head())

# Process in chunks
chunk_size = 50
count = 0
for chunk in pd.read_csv('iris.csv', chunksize=chunk_size):
    count += len(chunk[chunk['sepal width (cm)'] > 3])
print('\nRows with sepal width > 3:', count)

**Exercise**:
1. Load `iris.csv` with `float32` for numerical columns and `category` for `species`. Compare memory usage.
2. Load only `petal length (cm)` and `petal width (cm)` from `iris.csv` and compute their mean.
3. Process `iris.csv` in chunks of 30 rows, counting rows where `sepal length (cm)` > 5.

In [ ]:
# Your code here for Exercise 3.1, 3.2, and 3.3
import pandas as pd

# Exercise 3.1: dtypes
# Your code here

# Exercise 3.2: usecols
# Your code here

# Exercise 3.3: chunksize
# Your code here

## 4. Missing Data: Drop vs. Impute
Missing data can skew analysis. Pandas offers:
- **Drop**: Remove rows or columns with missing values.
- **Impute**: Fill missing values with statistics (mean, median) or other methods.

In [ ]:
import pandas as pd

# Load iris.csv with missing values
df = pd.read_csv('iris.csv')

# Drop missing
print('Drop rows with any missing:')
print(df.dropna().shape)
print('Drop rows with missing sepal length:')
print(df.dropna(subset=['sepal length (cm)']).shape)

# Impute missing
df_mean = df.copy()
df_mean['sepal length (cm)'].fillna(df_mean['sepal length (cm)'].mean(), inplace=True)
print('\nImpute sepal length with mean:')
print(df_mean['sepal length (cm)'].head(10))

df_median = df.copy()
df_median['petal width (cm)'].fillna(df_median['petal width (cm)'].median(), inplace=True)
print('Impute petal width with median:')
print(df_median['petal width (cm)'].head(10))

**Exercise**:
1. Load `iris.csv` and drop rows with more than 1 missing value.
2. Impute missing `sepal length (cm)` with mean and `petal width (cm)` with median. Compare their means before and after imputation.

In [ ]:
# Your code here for Exercise 4.1 and 4.2
import pandas as pd

# Exercise 4.1: Drop
# Your code here

# Exercise 4.2: Impute
# Your code here

## 5. Outliers: IQR, Z-score
Outliers are extreme values that can distort analysis. Common detection methods:
- **IQR**: Uses interquartile range (Q1 - 1.5*IQR, Q3 + 1.5*IQR).
- **Z-score**: Measures how many standard deviations a value is from the mean.

In [ ]:
import pandas as pd
import numpy as np

# Load iris.csv with outliers
df = pd.read_csv('iris.csv')

# IQR method
Q1 = df['sepal width (cm)'].quantile(0.25)
Q3 = df['sepal width (cm)'].quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = df[(df['sepal width (cm)'] < Q1 - 1.5 * IQR) | (df['sepal width (cm)'] > Q3 + 1.5 * IQR)]
print('IQR outliers in sepal width:')
print(outliers_iqr['sepal width (cm)'])

# Z-score method
z_scores = np.abs((df['sepal width (cm)'] - df['sepal width (cm)'].mean()) / df['sepal width (cm)'].std())
outliers_z = df[z_scores > 2.5]
print('\nZ-score outliers in sepal width:')
print(outliers_z['sepal width (cm)'])

# Cap outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df_capped = df.copy()
df_capped['sepal width (cm)'] = df_capped['sepal width (cm)'].clip(lower=lower_bound, upper=upper_bound)
print('\nCapped sepal width:')
print(df_capped['sepal width (cm)'].head())

**Exercise**:
1. Detect outliers in `petal length (cm)` using IQR and Z-score methods.
2. Cap outliers in `petal length (cm)` at IQR bounds and print the first 5 rows.

In [ ]:
# Your code here for Exercise 5.1 and 5.2
import pandas as pd
import numpy as np

# Exercise 5.1: Detect outliers
# Your code here

# Exercise 5.2: Cap outliers
# Your code here

## 6. Type Conversion & Date Handling
Correct data types ensure efficient analysis. Pandas supports type conversion and datetime operations.

In [ ]:
import pandas as pd

# Create sample DataFrame
df = pd.DataFrame({
    'order_id': ['001', '002', 'abc', '004'],
    'amount': ['100.5', '200.7', None, '400.2'],
    'status': ['Pending', 'Completed', 'Pending', 'Cancelled'],
    'flag': ['1', '0', '1', '0'],
    'order_date': ['2023-01-15', '2023-02-20', 'invalid', '2023-04-01']
})

# Convert types
df['order_id'] = pd.to_numeric(df['order_id'], errors='coerce')
df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
df['status'] = df['status'].astype('category')
df['flag'] = df['flag'].astype('bool')
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

# Date handling
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['day_of_week'] = df['order_date'].dt.day_name()
print('Converted DataFrame:')
print(df)
print('Data types:', df.dtypes)

**Exercise**:
1. Load `iris.csv` and convert `species` to categorical and numerical columns to `float32`.
2. Create a sample DataFrame with a `date` column (['2023-01-01', '2023-02-01', 'invalid']). Convert to datetime and extract year and month.

In [ ]:
# Your code here for Exercise 6.1 and 6.2
import pandas as pd

# Exercise 6.1: Type conversion
# Your code here

# Exercise 6.2: Date handling
# Your code here

## 7. Pipelines: Method Chaining with .pipe()
Pipelines streamline data processing by chaining operations. The `.pipe()` method applies custom functions to a DataFrame.

In [ ]:
import pandas as pd

# Define pipeline functions
def impute_missing(df, column, strategy='mean'):
    if strategy == 'mean':
        df[column].fillna(df[column].mean(), inplace=True)
    elif strategy == 'median':
        df[column].fillna(df[column].median(), inplace=True)
    return df

def standardize_column(df, column):
    df[column] = (df[column] - df[column].mean()) / df[column].std()
    return df

# Load iris.csv
df = pd.read_csv('iris.csv')

# Create pipeline
df_clean = (df.pipe(impute_missing, 'sepal length (cm)', 'mean')
              .pipe(standardize_column, 'sepal length (cm)'))
print('Pipeline result:')
print(df_clean['sepal length (cm)'].head())

**Exercise**:
1. Define a function to cap outliers using IQR bounds.
2. Create a pipeline for `iris.csv` that imputes missing `petal width (cm)` with median, caps outliers in `petal width (cm)`, and converts `species` to categorical.

In [ ]:
# Your code here for Exercise 7.1 and 7.2
import pandas as pd

# Exercise 7.1: Define function
# Your code here

# Exercise 7.2: Pipeline
# Your code here

## 8. Hands-On: Load and Inspect Open-Source Dataset
The Titanic dataset is a classic open-source dataset containing passenger information from the Titanic disaster. We’ll load it via `seaborn`, inspect its structure, and perform basic analysis.

In [ ]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
df_titanic = sns.load_dataset('titanic')

# Inspect dataset
print('First 5 rows:')
print(df_titanic.head())
print('\nInfo:')
print(df_titanic.info())
print('\nMissing values:')
print(df_titanic.isnull().sum())
print('\nSummary statistics:')
print(df_titanic.describe())

# Basic analysis
print('\nSurvival rate by class:')
print(df_titanic.groupby('class')['survived'].mean())
print('\nAverage age by sex:')
print(df_titanic.groupby('sex')['age'].mean())

**Exercise**:
1. Calculate the percentage of missing values in each column of the Titanic dataset.
2. Group by `embarked` and compute the average `fare`.
3. Create a pipeline to impute missing `age` with median and convert `sex` to categorical.

In [ ]:
# Your code here for Exercise 8.1, 8.2, and 8.3
import seaborn as sns
import pandas as pd

# Exercise 8.1: Missing values
# Your code here

# Exercise 8.2: Group by
# Your code here

# Exercise 8.3: Pipeline
# Your code here

## Resources
- **DS250 Course Page**: [https://github.com/gagan-iitb/DataAnalyticsAndVisualization](https://github.com/gagan-iitb/DataAnalyticsAndVisualization)
- **Pandas Documentation**: [https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)
- **seaborn Documentation**: [https://seaborn.pydata.org/](https://seaborn.pydata.org/)
- **Contact**: Dr. Gagan Raj Gupta, IIT Bhilai

## Next Steps
- Explore additional Pandas features: merging, reshaping, or time series analysis.
- Analyze other open-source datasets (e.g., Kaggle datasets).
- Create a presentation summarizing this tutorial for the workshop.